<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>Agenda Eventos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
</style>
</head>

<body>
	<h1>Cadastro de Eventos</h1>
	<form method="post">
		<label>Nome: <input type="text" value="" name="nome" /></label> <label>Local:
			<input type="text" value="" name="local" />
		</label> <label>Data: <input type="date" value="" name="data" /></label> <label>Horário:
			<input type="text" value="" name="horario" />
		</label>

		<button type="submit">Salvar</button>
	</form>
</body>

</html>